{:public-key "your Discord app's public key (https://discord.com/developers/applications)"
 :token "your Discord app's bot token"
 ; The setting below configures how long the bars of the poll results are
 :bar-length 40
 ; Max length of custom option keys
 :max-key-length 20
 ; Path to your database file
 :db "./data"}
